
.freight .grid-container {
    display: grid;
  }

.freight .freight-body {
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    gap: 20px;  
}

.freight .hero {
    text-align: center;
    /* grid-row: 2; */
}

.freight .input-group {
    font-family: 'Poppins', sans-serif;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 3;
    width: 80%;
} 
/* 
.date-picker {
    grid-row: 4;
    margin: 0 auto;
} 
*/