.airline {
    background: repeating-linear-gradient( -45deg, #5ec2b7, #5ec2b7 17px, #e5e5f7 300px, #f1f1f9 100px );
    height: 100vh;
    width: 100vw;
    position: absolute; 
}

.airline .airline-body {
    display: grid;
    grid-template-rows: auto 200px 200px auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;  
    width: 70%;
    margin: 10vh auto auto;
    /* margin: auto;    */
}

.airline h1, p {
    margin: 3px;
}

.airline img {
    width: 100%;
    object-fit: cover;
    height: 58%;
}

.airline .leaflet-container {
    height: 100%;
    border-radius: 10px;
}

.airline .card-heading {
    display: flex;
    /* height: 50px; */
    margin: auto;
}

.airline .card-title {
    background: #052d25;
    height: 120px;
    color: white;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    padding: 15px; 
    /* margin: auto 0; */
}

.airline .card {
    background: white;
    height: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    /* position: relative;  */
    top: 50%;
}

.airline .card h3 {
    margin: 7px auto;
}

.airline .big-card {
    grid-column: 2/-1;
    grid-row: 1/-1;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.airline .add-button {
    grid-column: 1;
    grid-row: 4;
    width: 100%;

}